@import '../variables.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	box-shadow: 1px 4px 15px 5px rgba(0, 0, 0, 0.3);
	// background: $background-elements;

	.header__title {
		font-weight: 900;
		cursor: pointer;

		a {
			text-decoration: none;
			color: inherit;
		}
	}

	.dark-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		cursor: pointer;
	}

	.dark-btn__icon {
		height: 20px;
		// color: var(--text-color);
	}
}

@media (max-width: 600px) {
	.header__title {
		font-size: 28px;
	}

	.dark-btn span {
		font-size: 15px;
	}

	.dark-btn__icon {
		height: 18px;
	}
}

@media (max-width: 415px) {
	.header {
		padding: 0 10px;

		.header__title {
			font-size: 20px;
		}
	}
}
